<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">List of Users</h3>
          </div>

        </div>
        <div class="card-block">
          <table class="table table-striped">
            <thead>
            <tr>
              <th>#</th>
              <th>Name</th>
              <th>Email</th>
              <th>Password</th>
              <th>BirthDay</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let e of events ; let idx = index">
              <th scope="row">{{ idx + 1 }}</th>
              <td>{{ e.amount | number:'1.2' }}</td>
              <td>{{ e.date | wfmMoment:'DD.MM.YYYY HH:mm:ss' }}</td>
              <td>{{ e.catName }}</td>
              <td>{{ e.date | wfmMoment:'DD.MM.YYYY HH:mm:ss' }}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
